@model UserRegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>:: KUSYS-Demo | Kayıt Ol :: </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Example keyword"/>
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <!-- //Meta tag Keywords -->
    <!--/Style-CSS -->
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all"/>
    <!--//Style-CSS -->
</head>

<body>
<!-- /login-section -->
<section class="w3l-login-6">
    <div class="login-hny">
        <div class="form-content">
            <div class="form-right">
                <div class="overlay">
                    <div class="grid-info-form">
							<h5>KUSYS-Demo</h5>
							<h3>Hesap Oluşturun </h3>
							<p>KUSYS-Demo Kayıt Olma sayfasına Hoşgeldiniz.</p>
							<a href="index.html" class="read-more-1 btn">HAYDİ BAŞLAYALIM</a>
                    </div>

                </div>
            </div>
            <div class="form-left">
                <div class="middle">
                    <h4>KUSYS-Demo</h4>
                    <p>Hesap oluşturma ekranı</p>
                </div>
                <form method="post" class="signin-form">
                    <div class="form-input">
                        <label>Öğrenci Numaranız</label>
                        <input type="text"  asp-for="StudentId">
                        <span asp-validation-for="StudentId" class="text-danger"></span>
                    </div>
                    <div class="form-input">
                        <label>Kullanıcı Adınız</label>
                        <input type="text" asp-for="Username"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-input">
                        <label>Mail</label>
                        <input type="email" asp-for="Mail"/>
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <div class="form-input">
                        <label>Şifre</label>
                        <input type="password" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-input">
                        <label>Şifre Tekrar</label>
                        <input type="password" asp-for="ConfirmPassword"  />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="text-danger" asp-validation-summary="ModelOnly">
                        
                    </div>

                    <label class="container">
                        Şartları Okudum <a href="#">Kabul Ediyorum</a>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <button class="btn">Kayıt Ol</button>
                </form>
                <div class="copy-right text-center">
                    <p>
                        © @DateTime.Now.Year Tüm Hakları Saklıdır
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- //login-section -->
</body>

</html>